@{
    ViewData["Title"] = "Admin Interface";
}

<br />
<h1 class="text-primary">Administrator Page</h1>
<br /><p>Please choose from the options below:</p>

<br />
<div class="col-3 text-left">
    <a class="btn btn-primary btn-lg btn-block" asp-area="Admin" asp-controller="Volunteer" asp-action="Index"> &nbsp; Manage Volunteers</a>
</div>
<br />
<div class="col-3 text-left">
    <a class="btn btn-primary btn-lg btn-block" asp-area="Admin" asp-controller="Opportunity" asp-action="Index"> &nbsp; Manage Opportunities</a>
</div>
