@model VMS.Models.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}

<br/>
<div class="text-center">
    <h1 class="col-6 offset-3 text-center" style="color: white">
        <i>Volunteer Management System</i>
    </h1>
</div>



@section head{
    <style type="text/css">
        body {
            background-image: url('/Images/background.jpg');
            background-size: cover
        }
    </style>
}